html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
    }
body {
  position: absolute;
    top: 9%;
    width: 100%;
    height: 100%;
    background-color: #383838;
    color: white;
}
button {
    width:100px;
    height:50px;
    margin-left:200px;
    display:block;
    background-color:gray;
    color:white;
    border: none;
    outline:none;
}
.topnav {
  padding-bottom: 5px;
  overflow: hidden;
  background-color: #181d23;
  text-align: left;
  position: fixed;
  width: 100%;
  top:0;
  left:0;
  padding-left: 30px;
  z-index: 5
}
.sim {
    position: absolute;
    left:22%;
}

.dotred {
  height: 25px;
  width: 25px;
  background-color: #FF0000;
  border-radius: 50%;
  display: inline-block;
}
.dotgreen {
  height: 25px;
  width: 25px;
  background-color: #10e831;
  border-radius: 50%;
  display: inline-block;
}

.leftcontent {
    position: absolute;
    margin: 30px auto;
    left: 10%;
    top: 5%;
}

.rightcontent {
    position: absolute;
    margin: 30px auto;
    left:75%;
    line-height: 3rem;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 2;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}